<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}">Slàinte Mhath</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{|/home|}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/search|}">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{|/regions|}">Regions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{|/mywhisky|}">My Whisky</a>
                </li>

            </ul>
            <div class="my-2 my-lg-0 login-button">
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
                    <button class="btn btn-primary">Logout</button>
                </a>
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
                    <button class="btn btn-primary">Login</button>
                </a>
            </div>
        </div>
    </nav>

</header>
</body>
</html>