<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <h1>Know your Whiskey</h1>
    <nav class="nav">
        <a th:href="@{|/home|}">Home</a>
        <a th:href="@{|/search|}">Search</a>
        <a th:href="@{|/mywhisky|}">My Whisky</a>
        <a th:href="@{/logout}">
            <button class="btn btn-primary">Logout</button>
        </a>
    </nav>

</header>
</body>
</html>