@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
    --primary: #ffb62e;
    --secondary: #3a8517;
    --fontColor: #353535;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins";
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.login-button {
    margin-right: 1rem;
    margin-left: auto;
}

a {
    margin: 1rem;
    text-decoration: none;
    color: var(--fontColor);
    font-size: 1.2rem;
}

a:hover {
    color: var(--fontColor);
}

.regions {
    width: 15rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-right: 1px solid gray;
}

.regions > ul > li > a {
    border-left: 1px solid #FFFFFF;
    padding: 0 0.2rem;
}

.regions > ul > li > a:hover {
    border-left: 1px solid gray;
}

.details_main {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.whisky-list {
    height: 80vh;
    overflow: scroll;
}

.region-card {
    position: relative;
    border: 0;
    border-radius: 0;
    height: 25rem;
    font-size: 1rem;
}

.region-card > * {
    border: 0;
    border-radius: 0;
}

.region-card::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #35353560;
    z-index: 1;
}

.card-img-overlay {
    z-index: 999;
}

.region-card-title {
    font-size: 4em;
}

.region-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.region-header {
    height: 30vh;
    position: relative;
}

.region-header > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.region-title {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.region-title > h1 {
    font-size: 23vh;
    letter-spacing: 1rem;
    height: 30vh;
    background-color: #FFFFFF50;
    padding: 0 2rem;
}

/* ----------  Whisky loader animation ----------------*/

#loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background: #46464620;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #464646;
}

#rocksGlass {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 80vh;
    animation: shake 1s infinite ease;
}

#iceLeft {
    /* transform-origin set in px for firefox compatibility */
    transform-origin: 36px 66px;
    animation: clink .8s infinite ease;
}

#iceRight {
    /* transform-origin set in px for firefox compatibility */
    transform-origin: 60px 78px;
    animation: clink .8s .2s infinite ease;
}

@keyframes shake {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes clink {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
