<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Slàinte Mhath')">

</head>
<body>
<header th:replace="fragments/header :: header">
</header>

<main>
    <div class="full-header">
        <div class="full-header-title">
            <h1>Slàinte Mhath</h1>
        </div>
        <img src="/img/whisky-pour.jpg" alt="">
    </div>
    <div class="container">
        <div class="card my-5">
            <div class="card-body">
                <p>
                    There are so different ways to say "cheers" in many
                    countries all over the world, however, in Scotland, it’s Slàinte Mhath!
                </p>
                <p>
                    Having a hard time remembering that? How about the names of the various whiskies you have tried over the years?
                    Right... That's what I thought. So here's your little tool to at least help you with that. It's easy! Register,
                    search for a whisky, add it to your database.
                </p>
            </div>
        </div>
</main>

<div th:replace="fragments/js :: bootstrapjs"></div>
</body>
</html>
