<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head ('Search')">

</head>
<body>
<header th:replace="fragments/header :: header">
</header>

<main >
    <div class="regions">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="region : ${regions}">
                <a th:href="@{|/regiondetails/${region.id}|}">
                    <span th:text="${region.name}"></span>
                </a>
            </li>
        </ul>
    </div>
    <form th:action="@{|/search|}" method="post">
        <input type="text" name="queryText" placeholder="What are you looking for">
        <input type="submit" class="btn btn-lg rounded-pill btn-primary">
    </form>
</main>

<div th:replace="fragments/js :: bootstrapjs"></div>
</body>
</html>
